<section class="Teaching_&_Grading_Experience-container">
    <app-section-header title="Teaching & Grading Experience"></app-section-header>
    <div class="mat-body Teaching & Grading Experience-info"> <b>Econometric Analysis I (PhD Core, ECON 532) </b>
    <br> &nbsp; &nbsp; · 2020 (Fall) & 2021 (Fall) & 2022 (Fall) <em>Grader</em>, Department of Economics, University of Illinois Urbana-Champaign </div>
    <div class="mat-body Teaching & Grading Experience-info"> <b>Econometrics of Policy Evaluation (Undergraduate, ECON 474)</b>
    <br> &nbsp; &nbsp; · 2022 (Spring) <em>Grader</em>, Department of Economics, University of Illinois Urbana-Champaign</div>
    <div class="mat-body Teaching & Grading Experience-info"> <b>Statistics in Economics (Undergraduate)</b>
    <br> &nbsp; &nbsp; · 2017 (Fall) & 2018 (Spring, Fall) <em>Discussion Section Instructor and Teaching Assistant</em>, Department of Economics, University of Illinois Urbana-Champaign
    <br> &nbsp; &nbsp; · 2014 (Fall) & 2015 (Spring) <em>Discussion Section Instructor and Teaching Assistant</em>, Department of Economics, Ewha Womans University</div>
    <div class="mat-body Teaching & Grading Experience-info"> <b>Applied Econometrics (Undergraduate)</b>
    <br> &nbsp; &nbsp; · 2014 (Spring) & 2015 (Spring) <em>Discussion Section Instructor and Teaching Assistant</em>, Department of Economics, Ewha Womans University</div>
    <div class="mat-body Teaching & Grading Experience-info"> <b>Microeconometrics (Graduate)</b>
    <br> &nbsp; &nbsp; · 2015 (Spring) <em>Discussion Section Instructor and Teaching Assistant</em>, Department of Economics, Ewha Womans University</div>
</section>
<br>
<section class="TeachingStatement">
    <app-section-header title="Teaching Statement"></app-section-header>
    <div class="mat-body Teaching statement"> 
        Please find my teaching statement 
        <a href="https://drive.google.com/file/d/1fiYD0YdbXw7bidqmXeYR4IxBL6EnNDTK/view?usp=sharing" style="color: pink">here.</a>
    </div>
</section>