header {
    .mat-toolbar {
        background-image: url("../../assets/images/toolbar_bg3.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        &-row {
            height: 100px;
        }
    }

    .header-name {
        margin-left: 1rem;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.849);
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.main-container {
    flex-grow: 1;
    mat-sidenav {
        width: 200px;
    }
    mat-sidenav-content {
        display: block;
        height: 100%;
        padding: 1rem;

        section[class$='-container'] {
            padding-bottom: 1rem;
            width: 70%;
        }
    
        div[class$='-info'] {
            margin-bottom: 0.5rem;
        }
    }
}

footer {
    .footer-container { 
        min-height: 2rem;
        background: #f0dadd;
        .footer-contents {
            height: 2rem;
            .name-email {
                color: black;
                width: 100%;
                text-align: center;
            }
        }
    }
}
