<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <div>
      <a class="header-name" routerLink=""><font size="+3"><b>Jieun Lee</b></font></a>
      <div class="mat-body">
        <div>Postdoctoral Fellow at Emory University Rollins School of Public Health, <a href="mailto:jieun.lee@emory.edu">jieun.lee@emory.edu</a></div>
      </div>
    </div>
    
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav="matSidenav">
    <ng-container *ngFor="let item of navListItems">
      <app-nav-list-item  [link]=item.link [title]="item.title"></app-nav-list-item>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
