header {
    .mat-toolbar {

        background: none;
        &-row {
            height: 100px;
            color: rgb(70, 70, 70);
        }
    }

    .mat-toolbar::before {
        content: '';
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../assets/images/bg_green.png");
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        transform: scaleX(-1); /* Flip the background horizontally */
        z-index: -1; /* Ensure it's behind the content */
      }
    .professional-title {
        white-space: break-spaces;
    }  
    .header-name {
        display: block;
        text-decoration: none;
        color: rgb(70, 70, 70);
        font-size: 1.5rem;
    }
}

.main-container {
    flex-grow: 1;
    mat-sidenav {
        width: 200px;
    }
    mat-sidenav-content {
        display: block;
        height: 100%;
        padding: 1rem;

        section[class$='-container'] {
            padding-bottom: 1rem;
        }

        section:last-child {
            margin-bottom: 50px;
        }
    
        div[class$='-info'] {
            margin-bottom: 0.5rem;
        }
    }
}

footer {
    .footer-container { 
        min-height: 2rem;
        background: #f0dadd;
        .footer-contents {
            .name-email {
                color: black;
                width: 100%;
                text-align: center;
                font-weight: bold;
            }
        }
    }
}
