<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
      <a class="header-name" routerLink=""><font size="+3"><b>Jieun Lee (이지은)</b></font></a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav="matSidenav">
    <ng-container *ngFor="let item of navListItems">
      <app-nav-list-item  [link]=item.link [title]="item.title"></app-nav-list-item>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <mat-toolbar class="footer-container">
    <mat-toolbar-row class="footer-contents">
      <div class="mat-small name-email">
        <div>Ph.D candidate in Department of Economics</div>
        <div>University of Illinois Urbana-Champaign</div>
        <div>Jieun Lee | <a href = "mailto: jieun2@illinois.edu"> jieun2@illinois.edu </a></div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
