<section class="research-interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body research-interest-info">
        Spatial econometrics, Applied econometrics
    </div>
</section>

<section class="publication-container">
    <app-section-header title="Publication"></app-section-header>
    <div class="mat-body publication-info">
        Vladimir Hlasny, Jieun Lee. (2020). Investment in Social Capital by the Korean Elderly and Baby-Boomers. <em>The Journal of the Economics of Ageing</em>, Available online 15 April 2020, 100256.
    </div>
</section>

<section class="research-in-progress-container">
    <app-section-header title="Research in Progress"></app-section-header>
    <div class="mat-body in-progress-info">Fixed effects model with the endogenous spatial weight matrix</div>
    <div class="mat-body in-progress-info">Growth, technological interdependence, and spatial externalities with the endogenous spatial weight matrix</div>
    <div class="mat-body in-progress-info">The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region (cowork with Prof.Hlasny, first author)</div>
</section>

<section class="conference-presentation-container">
    <app-section-header title="Conference Presentation"></app-section-header>
    <div class="mat-body presentation-info"><em>The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region</em>
        <ul class="presentation-info-details">
            <li>39th Annual MEEA Meeting in conjunction with the Allied Social Sciences Association (ASSA), Atlanta, Georgia, January 3-7, 2019</li>
        </ul>
    </div>
    <div class="mat-body presentation-info">
        <em>Investment in Social Capital by Korean Baby-Boomers and the Elderly</em>
        <ul class="persentation-info-details">
            <li>
                Aging & Society: Seventh Interdisciplinary Conference at University of California at Berkeley, Berkeley, USA, November 3-4, 2017
            </li>
            <li>
                Korea and the World Economy(15th) ‘New Economic Paradigm and Sustainable Development’ at Korea Federation of Banks, Seoul, Korea, August 5-6, 2016
            </li>
            <li>
                The 13th East Asian Social Policy Network International Annual Conference at Ewha Womans University, Seoul, Korea, July 1-2, 2016
            </li>
        </ul>
    </div>
</section>

<section class="research-assistant-container">
    <app-section-header title="Research Assistant"></app-section-header>
    <div class="mat-body research-assistant-info">2019 (Fall) ~ Present Prof.Anil K Bera, Department of Economics in University of Illinois at Urbana-Champaign</div>
    <div class="mat-body research-assistant-info">2018 (Spring) Prof.Eun Yi Chung, Department of Economics in University of Illinois at Urbana-Champaign</div>
    <div class="mat-body research-assistant-info">2015.7.-2015.12. Programs for vitalization of industrial mathematics based on mathematics2technology map, supervised by Prof.June Yub Lee, Department of Mathematics in Ewha Womans University, funded by Ewha University-Industry Collaboration Foundation, Seoul, Korea, supported by National Institute for Mathematical Sciences, Daejeon, Korea</div>
    <div class="mat-body research-assistant-info">2015.3.-2015.7. Gender budgets and macroeconomics, supervised by Prof.Soonhyun Kwon, Department of Economics in Ewha Womans University, funded by Ewha University-Industry Collaboration Foundation, Seoul, Korea, supported by Korean Women’s Development Institute, Seoul, Korea</div>
    <div class="mat-body research-assistant-info">2014.10.-2014.12. Consignment Business of Employment Insurance Center(Employment Stability and Local Employment Support Work Group), supervised by Dr.Sangho Lee, Korea Labor Institute, funded by Korea labor Institute, Seoul, Korea</div>
</section>