<section class="Research-interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body Research interest-info">
        · Primary: Spatial Econometrics: Theory and Applications <br>
        · Secondary: Quantitative Studies in Socioeconomics, Interdisciplinary Studies in Social Sciences
    </div>
</section>
<br>
<section class="research-statement-container">
        <app-section-header title="Research Statement"></app-section-header>
        <div class="mat-body research-statement">
        Please find my research statement <a href="https://drive.google.com/file/d/1cNFT1cbK3BRz1J9GuOtTOqWBJ49I4e5E/view?usp=sharing" style="color: pink">here.</a>
        </div>
</section>
<br>
<section class="thesis-chapters-container">
    <app-section-header title="Dissertation: Essays on Endogenous Spatial & Social Interactions (Abstract)"></app-section-header>
    <div class="mat-body research-statement">
        (Download <a href="https://drive.google.com/file/d/1Eazrtu34DDTxwG1IS-9NaSxh-HOBJko4/view?usp=sharing" style="color: pink">Dissertation_Chapters.pdf</a>)
        <br><br>
        <b>Chapter 1. Testing Endogeneity of Spatial Weights Matrices in Spatial Dynamic Panel Data Models (Job Market Paper) </b> <a href="https://drive.google.com/file/d/1d-T33fDUANhTvJlTgLfkpGyEM_WxXNVz/view?usp=sharing" style="color: pink">Manuscript</a><br>
        Abstract: I propose Robust Rao’s Score (RS) test statisic to determine endogeneity of spatial weights matrices 
        in a spatial dynamic panel data (SDPD) model (Qu, Lee, and Yu, 2017). I firstly introduce the bias-corrected score function 
        since the score function is not centered around zero due to the two-way fixed effects. I further adjust score
        functions to rectify the over-rejection of the null hypothesis under a presence of local misspecification in contemporaneous 
        dependence over space, dependence over time, or spatial time dependence. I then derive the explicit forms of our test statistic. 
        A Monte Carlo simulation supports the analytics and shows nice finite sample properties. 
        Finally, an empirical illustration is provided using data from Penn World Table version 6.1.
        <br><br>    
            <em>Key words</em>: Endogenous spatial weights matrices, Economic distance,
            Spatial dynamic panel data (SDPD), two-way fixed effects panel, maximum
            likelihood estimation (MLE), robust Rao’s score (RS) test, robust
            LM test, local parametric misspecification. <br>
            <em>JEL codes</em>: C13, C23, C31, C33. 
    </div>
    <br>
    <br>  
    <div class="mat-body in-progress-info">
        <b>Chapter 2. Evidence and Strategy on Economic Distance in Spatially Augmented Solow-Swan Growth Model   </b><a href="https://drive.google.com/file/d/18FVZSAPetj6jxBWr58EASas9sFG8wLsX/view?usp=sharing" style="color: pink">Manuscript</a><br>
        Abstract: Economists’ interests in growth theory have a very long history (Harrod, 1939; Domar, 1946; Solow, 1956; Swan 1956; Mankiw, Romer, and Weil, 1992). Recently, starting from the neoclassical growth model, Ertur and Koch (2007) developed the spatially augmented Solow-Swan growth model with the exogenous spatial weights matrices (W). While the exogenous W assumption could be true only with the geographical/physical distance, it may not be true when economic/social distances play a role. Using Penn World Table version 7.1, which covers year 1960-2010, I conducted the robust Rao’s score test (Bera, Dogan, and Taspinar, 2018) to determine if W is endogeonus and used the maximum likelihood estimation (Qu and Lee, 2015). The key finding is that the significance and positive effects of physical
        capital externalities and spatial externalities (technological interdependence) in Ertur and Koch (2007)
        were no longer found with the exogenous W, but still they were with the endogenous W models. I also
        found an empirical strategy on which economic distance to use when the data recently has been under
        heavy shocks of the worldwide financial crises during year 1996-2010.
        <br><br> 
            <em>Key words</em>: Spatially augmented Solow-Swan growth model, endogenous
    spatial weights matrices, economic distance, geographic distance,
    physical capital externalities, technological interdependence, spatial
    externalities. <br>
            <em>JEL codes</em>: C31, E13, F43, O47.
    </div>
    <br>
    <br> 
    <div class="mat-body in-progress-info">
        <b> Chapter 3. Investment in social capital by the Korean elderly and baby-boomers    </b><a href="https://drive.google.com/file/d/1Di5ypHGlZVzY6ppImuCz6pLmctP7vYlL/view?usp=sharing" style="color: pink">Manuscript</a><br>
        Abstract: Social capital (SC) is both an input and an output of individuals’ economic choices, but relatively little is known about SC investment, particularly in individuals’ old age. With a premise that SC is an individual-level concept in which individuals purposely invest, we estimate elderly individuals’ stock and investment in SC using principal component analysis of their social engagement, networks, and trust in social institutions. We describe the distribution of the SC stock and investment across various demographic groups. Based on a capital-accumulation model, and using linear regressions and mixture models, we test hypotheses about the drivers – expected benefits, costs, depreciation, preexisting SC, and social-capital in one’s community – and trajectories of elderly individuals’ SC investment. Implications for their life satisfaction are also assessed.
        <br>
        Using four waves of the Korean Longitudinal Study of Ageing, we find that the elderly exhibit gradual attrition of SC, but women retain more SC on account of better mental health and higher returns on investment from lower starting points. Expected returns on SC are associated positively with individuals’ investment, while the opportunity cost of one’s time and SC depreciation are associated weakly negatively with it. Physical and human capital are complementary to SC, encouraging investment. Community-level stock and investment in SC lead to higher investment by individuals themselves.
                    <br><br> 
            <em>Key words</em>: Social capital, Networks, Baby-boomers, Ageing, Mixture model of group-based developmental trajectories            <br>
            <em>JEL Codes</em>: J14, E24, J26.
    </div>
</section>
<br>
<section class="Working-papers-container">
    <app-section-header title="Working Papers"></app-section-header>
    <div class="mat-body Working-papers-info">
        <b>1. Testing Endogeneity of Spatial Weights Matrices in Spatial Dynamic Panel Data Models (Job Market Paper, <em>Under Review) </em></b> <a href="https://drive.google.com/file/d/1d-T33fDUANhTvJlTgLfkpGyEM_WxXNVz/view?usp=sharing"  style="color: pink"> Manuscript</a>
        <br>
        <br>
        2. Evidence and Strategy on Economic Distance in Spatially Augmented Solow-Swan Growth Model <em>(Under Review) </em> <a href="https://drive.google.com/file/d/18FVZSAPetj6jxBWr58EASas9sFG8wLsX/view?usp=sharing"  style="color: pink"> Manuscript</a>
        <br>
        <br>
        3. Moral Hazard on Productivity Among Work-From-Home Workers Amid the COVID-19 Pandemic <em>(Under Review) </em> <a href="https://drive.google.com/file/d/1iJOCITUCmMNDpXJRLWTyllI1QivtSPZB/view?usp=sharing"  style="color: pink"> Manuscript</a>
    </div>
</section>
<br>
<section class="Work-in-progress-container">
    <app-section-header title="Work in Progress"></app-section-header>
    <div class="mat-body Working-papers-info">
        Estimation for Spatial Autoregressive Model With Endogenous Spatial Weights Matrices Under Heavy Tail Dependence <br><br>
        Robust Score Test for Contemporaneous Spatial Dependence, Dependence Over Time, and Spatial Time Dependence in Spatial Dynamic Panel Data Models <br><br>
        Rao’s Score (RS) Tests and Its Bera-Yoon (BY) Adjustments Within the Empirical Likelihood (EL) Framework (with A. K. Bera) <br><br>
        Spatial Implications for Dynamic Strategic Network Formation (with A. Centeno) <br><br>
        Spatial Implications for Treatment Effect Models (with H. Kim and H. Han) <br><br>
        Social Capital and Job Prospects of the Korean Pre-retirees (with V. Hlasny)<br><br>
        Spillover Effects in Social Capital on the Korean Workers’ Job Prospects (with V. Hlasny) <br><br>
        Political Freedom and Economic Growth (with H. Cho) <br><br>
        Financial Inclusion and Consumption Smoothing (with E. Kim) <br><br>
        Neighborhood Experience and Economic Activeness (with S. Shin) <br><br>
        Dementia and Social Activities of the Korean Elderly Women (with H. Han)
    </div>
</section>
<br>
<br>
<section class="RA-container">
    <app-section-header title="Research Assistant Experience"></app-section-header>
    <div class="mat-body RA-info">
    <b>Bera, Anil K. Professor of Economics, University of Illinois Urbana-Champaign, USA.</b> <br>
    2023 Spring (Expected); 2022 Spring, Summer; 2021 Spring, Summer, Fall; 2020 Spring, Summer, Fall; 2019 Fall.
        <br><br>
    <b>Chung, EunYi. Assistant Professor of Economics, University of Illinois Urbana-Champaign, USA.</b><br>
    2018 Spring.
    <br><br>
    <b>Lee, June Yub. Professor of Mathematics, Ewha Womans University, South </b><br>
    2015 July – December. <br><br>
    <b>Yoo, Jin Sung. Korea Economic Research Institute, South Korea.</b> <br>
    2015 July – October. <br><br>
    <b>Kwon, Soonhyun. Ewha Womans University-Industry Collaboration Foundation & Korean Women’s Development Institute, South Korea.</b> <br>
    2015 March – July. <br><br>
    <b>Lee, Sangho. Korea Labor Institute, South Korea. </b><br>
    2014 October – December. <br><br>
    <b>Choi, Hyomi. Korea Labor Institute, South Korea.</b><br>
    2014 July – September. <br><br>
    </div>
</section>