<section class="mat-typography contact-info-container">
    <app-section-header title="Contact & Personal Information"></app-section-header> 
    <div class="image-container">
        <img src="./assets/images/jieunlee.jpg" alt="Profile">
    </div>  
    <div class="mat-body email-info">
        Email: <a href="mailto:jieun2@illinois.edu">jieun2@illinois.edu</a>
    </div>
    <div class="mat-body nationality-info">
        Nationality: South Korea
    </div>
    <div class="mat-body language-info">
        Language: Korean(native), English(fluent)
    </div>
</section>

<section class="education-container">
    <app-section-header title="Education"></app-section-header>    
    <div class="mat-body">
        <div class="education-info">
            <div class="education">2016-2022 (Expected) University of Illinois at Urbana-Champaign, Ph.D in Economics</div>
            <div class="education">2013-2016 Ewha Womans University, MA in Economics</div>
            <div class="education">2010-2013 Ewha Womans University, Bachelor of Economics</div>
        </div>
    </div>
</section>

<section class="softwares-container">
    <app-section-header title="Softwares"></app-section-header>    
    <div class="mat-body softwares-info">
        Matlab, R, Python, Stata, LaTex
    </div>
</section>