<section class="Education-container">
    <app-section-header title="Education"></app-section-header>
    <div class="mat-body Education-info"> <b>University of Illinois Urbana-Champaign, USA</b><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Doctor of Philosophy (PhD) in Economics (2023) <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; - Dissertation: <em> Essays on Spatial, Health, and Socioeconomic Interactions </em> 
        &nbsp;<a href="https://drive.google.com/file/d/1f9xQjlJ5l0Dc9aYpzY6psDuzJAioEmqR/view" 
        style="color: rgb(174, 205, 152)">Presentation</a> <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Master of Science (MS) in Mathematics (2022); Statistics-Applied (2021)<br>
    </div> 
    <br>
    <div class="mat-body education-info"><b>Ewha womans university, South Korea</b> <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Master of Arts (MA) in Economics (2016); Bachelor of Arts (BA) in Economics (2013) <br>
    </div>
</section>
<br>


<br>


