<section class="Education-container">
    <app-section-header title="Education"></app-section-header>
    <div class="mat-body Education-info"> <b>University of Illinois Urbana-Champaign, USA</b><br>
        · Doctor of Philosophy (PhD) in Economics, 2023 (expected) <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<em> Advisor: Prof.Bera, Anil; Committee: Prof.Chung, EunYi, Prof.Li, Bo, Prof.Shao, Xiaofeng </em><br>
        · Master of Science (MS) in Mathematics, 2022<br>
        · Master of Science (MS) in Statistics-Applied, 2021<br>
    </div> 
    <br>
    <div class="mat-body education-info"><b>Ewha womans university, South Korea</b> <br>
        · Master of Arts (MA) in Economics, 2016 <br>
        · Bachelor of Arts (BA) in Economics, 2013 <br>
    </div>
</section>
<br>


<br>


