<section class="Education-container">
    <app-section-header title="Education"></app-section-header>
    <div class="mat-body Education-info"> 2016-2023 University of Illinois Urbana-Champaign <br>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;· MS in <b> Statistics-Applied </b>; MS in <b> Mathematics </b> <br>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;· (Expected) PhD in <b> Economics </b> <br>
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <em> Advisor: Prof.Bera, Anil; Committee: Prof.Chung, EunYi, Prof.Li, Bo, Prof.Shao, Xiaofeng </em>
                
    </div> 
    <div class="mat-body education-info"> 2010-2016 Ewha Womans University, Bachleor & MA in <b> Economics </b> </div>
</section>
<br>
<section class="Honors,_Scholarships,_Grants,_and_Awards-container">
    <app-section-header title="Honors, Scholarships, Grants, and Awards"></app-section-header>
    <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2017 (Fall) & 2018 (Fall) <b>Scholarship</b> for Conference, Department of Economics in University of Illinois Urbana-Champaign </div>
    <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2016 (Fall) & 2017 (Spring) <b>Fellowship</b> for Ph.D Students, Department of Economics in University of Illinois Urbana-Champaign </div>
    <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 Graduate Research <b>Scholarship</b> for Humanities and Social Sciences, Korea Student Aid Foundation </div>
    <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 <b>Award</b> in Paper Competition for the Market Economy, <em>How to Lower the Barrier to Entry for Women in Korean Labor Market by Game Theory</em>, 
        bestowed by KB Financial Group Inc. Chairman and organized by Market Economic Research Institute </div>
    <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2012 <b>Award</b> in Economic Universiade, <em>A Far-Sighted Policies to Develop Human Resources for the Economic Growth in Korea</em>, 
        bestowed and organized by Edaily, Korea Association of Economic Education, SK communications and sponsored by Ministry of Strategy and Finance, 
        Ministry of Knowledge Economy, Ministry of Education, Science and Technology, Ministry of Employment and Labor, Ministry of Environment </div>
</section>
<br>
<section class="Research_Assistant-container">
    <app-section-header title="Research Assistant"></app-section-header>
    <div class="mat-body Research Assistant-info"> 2019 (Fall) ~ Present <b> Prof.Bera, Anil</b>, Department of Economics, University of Illinois Urbana-Champaign </div>
    <div class="mat-body Research Assistant-info"> 2018 (Spring) <b> Prof.Chung, EunYi</b>, Department of Economics, University of Illinois Urbana-Champaign </div>
</section>
<br>
<section class="Teaching_&_Grading_Experience-container">
    <app-section-header title="Teaching & Grading Experience"></app-section-header>
    <div class="mat-body Teaching & Grading Experience-info"> 2022 (Spring) <em>Econometrics of Policy Evaluation (Undergraduate, ECON 474)</em>, <b>Grader</b>, Department of Economics, University of Illinois Urbana-Champaign </div>
    <div class="mat-body Teaching & Grading Experience-info"> 2020 (Fall) & 2021 (Fall) <em>Econometric Analysis I (PhD Core, ECON 532)</em>, <b>Grader</b>, Department of Economics, University of Illinois Urbana-Champaign </div>
    <div class="mat-body Teaching & Grading Experience-info"> 2017 (Fall) & 2018 (Spring, Fall) <em>Statistics in Economics (Undergraduate, ECON 202)</em>, <b>Discussion Section Instructor and Teaching Assistant</b>, Department of Economics, University of Illinois Urbana-Champaign </div>
    <div class="mat-body Teaching & Grading Experience-info"> 2015 (Spring) <em>Microeconometrics (Graduate)</em>, <b>Discussion Section Instructor and Teaching Assistant</b>, Department of Economics, Ewha Womans University </div>
    <div class="mat-body Teaching & Grading Experience-info"> 2014 (Spring) & 2015 (Spring) <em>Applied Econometrics (Undergraduate)</em>, <b>Discussion Section Instructor and Teaching Assistant</b>, Department of Economics, Ewha Womans University </div>
    <div class="mat-body Teaching & Grading Experience-info"> 2014 (Fall) & 2015 (Spring) <em>Statistics in Economics (Undergraduate)</em>, <b>Discussion Section Instructor and Teaching Assistant</b>, Department of Economics, Ewha Womans University </div>
</section>
<br>

