<section class="Contact-container">
    <div class="mat-body cv-info"> <h1> Files Archived </h1> </div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1emQVhBq8UTXyovzoAL60QPNhCM14Y2vE/view" 
        style="color: rgb(174, 205, 152)">Curriculum Vitae</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1v7XJnCcaj0uDRrj884mStzA4SedI-K23/view" 
        style="color: rgb(174, 205, 152)">List of Recommenders</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1i0JZ2S9cP9P-NP4hqdjTWBcQrSPW1wgC/view" 
        style="color: rgb(174, 205, 152)">Research Statement</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1b6jZQLEK_zjnvpRBtybTIWqZCVqoNZ2z/view?usp=drive_link" 
        style="color: rgb(174, 205, 152)">Teaching & Service Statement</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1PcMpA1AsZKMU9gdojKYJkFa_zCfs2_Dx/view?usp=drive_link" 
        style="color: rgb(174, 205, 152)">Diversity Statement</a></div><br>   
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/13LXcZwg2-giQYeUKNLJ6S4EuOiSV1oBq/view" 
        style="color: rgb(174, 205, 152)">Writing Sample 1: Heterogeneous Treatment Effects of Intensive 
        Blood Pressure Control on Major Adverse Cardiovascular Events in Nondiabetic Patients (Job Market Paper) </a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1vw1nbosVA7kKtFjSlKjp-PJyc8iB92rH/view?usp=drive_link" 
        style="color: rgb(174, 205, 152)">Writing Sample 2: Identifying Novel Social Determinants of Health (SDOH) 
        Subgroups among the General US Population: A Machine Learning Approach</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/12lIQN-wbBDlvVYDXrt79Gz0_uNrQOfq1/view?usp=drive_link" 
        style="color: rgb(174, 205, 152)">Writing Sample 3: Testing Endogeneity of a Spatial Weight Matrix in the Weak-Tied Spatial Dynamic Panel Data Model</a></div><br>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/11rcodC8wsp7q4YvuWJDEJvI3TOsCFOPt/view" 
    style="color: rgb(174, 205, 152)">Writing Sample 4: Specification and Estimation of Spatial Interaction Models for
        Nonnegative Origin-destination Flows</a></div><br> 
</section>