<section class="Contact-container">
    <div class="mat-body cv-info"> <h1> Files Archived </h1> </div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1cHBtUbsS0NNxc8wiRVhGTjyVpPjsz7LQ/view?usp=sharing" style="color: pink">Curriculum Vitae</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1Eazrtu34DDTxwG1IS-9NaSxh-HOBJko4/view?usp=sharing" style="color: pink">Dissertation Chapters Abstract</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1d-T33fDUANhTvJlTgLfkpGyEM_WxXNVz/view?usp=sharing" style="color: pink">Dissertation Chapter 1</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/18FVZSAPetj6jxBWr58EASas9sFG8wLsX/view?usp=sharing" style="color: pink">Dissertation Chapter 2</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1Di5ypHGlZVzY6ppImuCz6pLmctP7vYlL/view?usp=sharing" style="color: pink">Dissertation Chapter 3</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1cNFT1cbK3BRz1J9GuOtTOqWBJ49I4e5E/view?usp=sharing" style="color: pink">Research Statement</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1fiYD0YdbXw7bidqmXeYR4IxBL6EnNDTK/view?usp=sharing" style="color: pink">Teaching Statement</a></div>
    <div class="mat-body cv-info"> <a href="https://drive.google.com/file/d/1K9dIn3gVi5TlfBft0p2SNCMYaX4-Eguk/view?usp=sharing" style="color: pink">Recommendations</a></div>
</section>