<section class="Recommendations-container">
    <div class="mat-body Recommendations-info"> (Download <a href="https://drive.google.com/file/d/1K9dIn3gVi5TlfBft0p2SNCMYaX4-Eguk/view?usp=sharing" style="color: pink">Recommendations.pdf</a>)<br><br></div>
    <div class="mat-body Recommendations-info"> <h1>Anil Kumar Bera (Chair)</h1> </div>
    <div class="mat-body Recommendations-info"> 
        Doctor of Philosophy (PhD) in Economics from the Australian National University <br>
        Professor of Economics, College of LAS <br>
        Affiliated Professor of Statistics, College of LAS <br>
        Adjunct Professor of Finance, College of Business <br>
        Adjunct Professor of Agricultural and Consumer Economics, College of ACES <br> 
        University of Illinois <br>
        1407 West Gregory Avenue <br>
        Urbana, IL 61801 <br>
        U.S.A. </div>
    <div class="mat-body Recommendations Information-info"> +1 (217) 333-4596 </div>
    <div class="mat-body Recommendations Information-info">
        <a href = "mailto: abera@illinois.edu" style="color: pink"> abera@illinois.edu</a>, <a href="https://economics.illinois.edu/profile/abera"  style="color: pink">Webpage</a></div>
    <br>
    <br>
    <div class="mat-body Recommendations-info"> <h1>Eun Yi Chung </h1> </div>
    <div class="mat-body Recommendations-info"> 
        Doctor of Philosophy (PhD) in Economics from Stanford University <br>
        Assistant Professor <br>
        Department of Economics <br>
        University of Illinois Urbana-Champaign <br>
        220 David Kinley Hall <br>
        1407 W. Gregory Dr. MC707 <br>
        Urbana, IL 61801 <br>
        U.S.A. </div>
    <div class="mat-body Recommendations Information-info"> +1 (217) 300-4511 </div>
    <div class="mat-body Recommendations Information-info">
        <a href = "mailto: eunyi@illinois.edu" style="color: pink"> eunyi@illinois.edu</a>, <a href="https://economics.illinois.edu/profile/eunyi"  style="color: pink">Webpage</a></div>
    <br>
    <br>
    <div class="mat-body Recommendations-info"> <h1>Vladimir Hlasny</h1> </div>
    <div class="mat-body Recommendations-info"> 
        Doctor of Philosophy (PhD) in Economics from Michigan State University <br>
        Economic affairs officer <br>
        United Nations Economic and Social Commission for Western Asia, Beirut, Beirut <br>
        Lebanon </div>
    <div class="mat-body Recommendations Information-info"> +961 197-8426 </div>
    <div class="mat-body Recommendations Information-info">
        <a href = "mailto: hlasny@un.org" style="color: pink"> hlasny@un.org</a></div>
    <br>
    <br>
    </section>