<img src="./assets/images/jieunlee.jpg" width="250" height="220">

<br>
<br>
<section class="Contact-container">
    <div class="mat-body Affiliation-info"> <h1>Jieun Lee (이지은)</h1> </div>
    <div class="mat-body Affiliation-info"> · Ph.D candidate in <a href="https://economics.illinois.edu/profile/jieun2"  style="color: pink"> Department of Economics, University of Illinois Urbana-Champaign, USA </a></div>
    <div class="mat-body Personal Information-info"> · Contact: <a href = "mailto: jieun2@illinois.edu" style="color: pink"> jieun2@illinois.edu</a>, <a href="https://scholar.google.com/citations?user=0UXVO5gAAAAJ&hl=ko" style="color: pink">Google Scholar</a>, <a href = "https://www.researchgate.net/profile/Jieun-Lee-48" style="color: pink">ResearchGate</a>, <a href = "https://www.linkedin.com/in/jieun-lee-191732160/en?trk=people-guest_people_search-card" style="color: pink">LinkedIn</a>, <a href="https://github.com/dlwldmsghgh" style="color: pink">Github</a> </div>
    <div class="mat-body cv-info"> · My CV is <a href="https://drive.google.com/file/d/1cHBtUbsS0NNxc8wiRVhGTjyVpPjsz7LQ/view?usp=sharing" style="color: pink">here</a>.</div>
    <br>
    <div class="mat-body"> <b>Jieun Lee</b> is a PhD candidate in economics at University of Illinois Urbana-Champaign, USA. She studies <em>spatial econometrics</em> and <em>socioeconomics</em>. Theoretically, she develops computationally efficient tests for spatial models. Notably, she models & tests dependence structures that explain the endogeneity of spatial weights matrices. Empirically, she aims for <em>interdisciplinary</em> studies in the social sciences to find evidence for non-predetermined distances, such as "economic" or "social" distances, to explain the spatial- & human interactions effects in a more valid and comprehensive manner.</div>
</section>
<br>
<br>
<section class="Personal-information-container">
    <app-section-header title="Personal Information"></app-section-header>
    <div class="mat-body Personal Information-info"> · Language: Korean (native), English (fluent), Japanese (fluent) </div>
    <div class="mat-body Personal Information-info"> · Citizenship: South Korea </div>
</section>
<br>
<br>
<section class="tech_skills-container">
    <app-section-header title="Technical Skills"></app-section-header>
    <div class="mat-body tech_skills-info"> Matlab, R, Python, SQL, Stata, LaTex, Git version control, Angular </div>
</section>