<img src="./assets/images/jieunlee.jpg" width="250" height="220">

<br>
<br>
<section class="Contact-container">
    <div class="mat-body Affiliation-info"> <h1>Jieun Lee (이지은)</h1> </div>
    <div class="mat-body Affiliation-info"> · Ph.D candidate in Department of Economics, University of Illinois Urbana-Champaign, USA </div>
    <div class="mat-body Personal Information-info"> · Citizenship: South Korea; Language: Korean (native), English (fluent), Japanese (fluent) </div>
    <div class="mat-body Softwares"> · Softwares: Matlab, R, Python, SQL, Stata; LaTex </div>
</section>
<br>
<br>
<section class="Contact-container">
    <app-section-header title="Contact"></app-section-header>
    <div class="mat-body Personal Information-info"> · E-mail: <a href = "mailto: jieun2@illinois.edu" style="color: pink"> jieun2@illinois.edu </a> </div>
    <div class="mat-body Personal Information-info"> · LinkedIn: <a href = "https://www.linkedin.com/in/jieun-lee-191732160/en?trk=people-guest_people_search-card" style="color: pink"> Link to page </a> </div>
</section>