<section class="presentation-container">
    <app-section-header title="Conference & Seminar Presentations"></app-section-header>
    <div class="mat-body presentation-info"> <b># Specification and Estimation of Spatial Interaction Models for Nonnegative Origin-destination Flows</b>  <br>
        &nbsp; &nbsp; · <em>Midwest Econometrics Group (MEG) 2024 Conference,</em> University of Kentucky’s Gatton College of Business and
Economics, Lexington, Kentucky, USA, Nov 1-2, 2024. (Scheduled)   
    </div> <br>
    <div class="mat-body presentation-info"> <b># Heterogeneous Treatment Effects of Intensive Blood Pressure Control on Major Adverse Cardiovascular Events in
        Nondiabetic Patients</b>  <br>
        &nbsp; &nbsp; · <em>Midwest Econometrics Group (MEG) 2024 Conference,</em> University of Kentucky’s Gatton College of Business and
Economics, Lexington, Kentucky, USA, Nov 1-2, 2024. (Scheduled)   
    </div> <br>
    <div class="mat-body presentation-info"> <b># Testing Endogeneity of Spatial Weights Matrices in Spatial Dynamic Panel Data Models </b><br>
        1. Invited talks <br>
        &nbsp; &nbsp; · <em>17th International Conference on Computational and Financial Econometrics (CFE 2023),</em> HTW Berlin, University
            of Applied Sciences, Berlin, Germany, 16-18 Dec 2023.<br>
        &nbsp; &nbsp; · <em>Guest Lecture for Econometrics II (ECON 575, Instructor: Anil Bera),</em> Department of Economics, University of
            Illinois Urbana-Champaign, Urbana, IL, USA, Apr 27, 2023.<br>
        &nbsp; &nbsp; · <em>Econometrics Lab Lunch Seminar,</em> Department of Economics, University of Illinois Urbana-Champaign, Urbana, IL,
            USA, Apr 26, 2023.<br>
        &nbsp; &nbsp; · <em>Job Talk for Tenure Track Assistant Professor - Econometrics and Macroeconomics,</em> Department of Economics,
            Rutgers, The State University of New Jersey, New Brunswick, New Jersey, USA, Jan 24, 2023.<br>
        &nbsp; &nbsp; · <em>Job Talk for Tenure Track Assistant Professor - Quantitative Methods in Spatial Analysis,</em> Department of
            Agricultural Economics, Purdue University, West Lafayette, Indiana, USA, Jan 11, 2023.<br><br>
        2. Conference/Seminar/Workshop(s) <br>
        &nbsp; &nbsp; · <em> 2023 North American Meetings of the Regional Science Association International (RSAI) held jointly with the
            Spatial Econometrics Association (SEA),</em> San Diego, Nov 16-17, 2023. <br>
        &nbsp; &nbsp; · <em> Midwest Econometrics Group (MEG) 2023 Conference,</em> Federal Reserve Bank of Cleveland, Cleveland, Ohio, USA,
Oct 12-13, 2023. <br>
        &nbsp; &nbsp; · <em> Spatial Econometrics Association (SEA) Graduate Students Seminar,</em> Dec, 2022. <br>
        &nbsp; &nbsp; · <em> KAEA (Korea-America Economic Association) Job Market Conference Joint with KEA (Korean Economic Association),</em> Nov 3, 2022. <br>
        &nbsp; &nbsp; · <em> Midwest Econometrics Group (MEG) 2022 Conference,</em> Michigan State University, 
        East Lansing, Michigan, USA, Oct 27-29, 2022 - <em> Mentoring Workshop for Junior Women in Midwest Econometrics Group (MEG) 2022 Conference,</em> Mentor: <em>Xu Lin</em>, Associate Professor, Department of Economics, Virginia Tech. <br>
        &nbsp; &nbsp; · <em> Job Market Research Workshop,</em> University of Illinois Urbana-Champaign, Urbana, Illinois, USA, Sep 26, 2022.<br>
    </div>
    <br>
    <div class="mat-body presentation-info"> <b># The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region</b> <br>
        &nbsp; &nbsp; · <em> 39th Annual MEEA Meeting in conjunction with the Allied Social Sciences Association (ASSA)</em>, Atlanta, Georgia, USA, Jan 3-7, 2019. 
    </div>
    <br>
    <div class="mat-body presentation-info">
        <b># Investment in Social Capital by Korean Baby-Boomers and the Elderly </b><br>
        &nbsp; &nbsp; · <em> Aging & Society: Seventh Interdisciplinary Conference</em>, University of California at Berkeley, Berkeley, California, USA, Nov 3-4, 2017. <br>
        &nbsp; &nbsp; · <em> Korea and the World Economy(15th): New Economic Paradigm and Sustainable Development</em>, Korea Federation of Banks, Seoul, Korea, Aug 5-6, 2016. <br>
        &nbsp; &nbsp; · <em> The 13th East Asian Social Policy Network International Annual Conference</em>, Ewha Womans University, Seoul, Korea, Jul 1-2, 2016. <br><br>
    </div>
    <br>
    <br>
<section class="Referee Experience">
    <app-section-header title="Referee Experience"></app-section-header>
    <div class="mat-body referee-info">
        Pharmaeconomics, Spatial Economic Analysis, Journal of Organizational Effectiveness: People and Performance.
    </div>
</section>
<br>
<br>
<br>
<br>
<section class="Honors,_Scholarships,_Grants,_and_Awards-container">
        <app-section-header title="Honors, Scholarships, Grants, and Awards"></app-section-header>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2017 (Fall) & 2018 (Fall) & 2022 (Fall) <b>Scholarship for Conference</b>, Department of Economics in University of Illinois Urbana-Champaign, USA. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2016 (Fall) & 2017 (Spring) <b>Fellowship for Ph.D Students</b>, Department of Economics in University of Illinois Urbana-Champaign, USA. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 <b>Graduate Research Scholarship for Humanities and Social Sciences</b>, Korea Student Aid Foundation, South Korea. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 <b>Award in Paper Competition for the Market Economy</b>, <em>How to Lower the Barrier to Entry for Women in Korean Labor Market by Game Theory</em>, 
            bestowed by KB Financial Group Inc. Chairman and organized by Market Economic Research Institute, South Korea. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2012 <b>Award in Economic Universiade</b>, <em>A Far-Sighted Policies to Develop Human Resources for the Economic Growth in Korea</em>, 
            bestowed and organized by Edaily, Korea Association of Economic Education, SK communications and sponsored by Ministry of Strategy and Finance, 
            Ministry of Knowledge Economy, Ministry of Education, Science and Technology, Ministry of Employment and Labor, Ministry of Environment, South Korea. </div>
</section>