<section class="publication-container">
    <app-section-header title="Publications"></app-section-header>
    <p style="text-align:right;"><em>*Published in Social Sciences Citation Index (SSCI) journals </em></p>
    <div class="mat-body publication-info">1. <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2023). Workers’ Social Capital and Employment Outcomes: The Case of MENA Countries (Accepted). <em>Research Handbook on Poverty and Inequality, Part II: Measurement and Analysis of Poverty and Inequality, Chapter 16</em>. Edward Elgar Publishing. <u>Link TBD</u></div>
    <div class="mat-body publication-info">2. *<b>Lee, Jieun.</b>, Hlasny, Vladimir. (2022). Social Capital and Workers’ Job Prospects in the MENA Region (Accepted). <em>Sociologický časopis/Czech Sociological Review</em>. <u>Link TBD</u> &nbsp; <a href="https://drive.google.com/file/d/1yfN7NNo6C8JPcOkv_AUI1tx5edkI4mkS/view?usp=sharing" style="color: pink">Manuscript</a></div>
    <div class="mat-body publication-info">3. *Hlasny, Vladimir., <b>Lee, Jieun.</b> (2020). Investment in social capital by the Korean elderly and baby-boomers. <em>The Journal of the Economics of Ageing</em>, 17, 100256. <a href="https://drive.google.com/file/d/1Di5ypHGlZVzY6ppImuCz6pLmctP7vYlL/view?usp=sharing" style="color: pink"> See publication </a></div>
    <div class="mat-body publication-info">4. <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2019). The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region. <em>Topics in Middle Eastern And North African Economies</em>, 21(1). <a href="http://meea.sites.luc.edu/volume21/PDFs/Lee&Hlasny_v3.pdf" style="color: pink">See publication</a> </div>
</section>
<br>
<br>
<section class="presentation-container">
    <app-section-header title="Conference & Seminar Presentations"></app-section-header>
    <div class="mat-body presentation-info"> <b>Testing Endogeneity of Spatial Weights Matrices in Spatial Dynamic Panel Data Models </b><br>
        &nbsp; &nbsp; · <em> Spatial Econometrics Association (SEA) Graduate Students Seminar,</em> Dec, 2022. <br>
        &nbsp; &nbsp; · <em> KAEA (Korea-America Economic Association) Job Market Conference Joint with KEA (Korean Economic Association),</em> Nov 3, 2022. <br>
        &nbsp; &nbsp; · <em> Midwest Econometrics Group (MEG) 2022 Conference,</em> Michigan State University, East Lansing, Michigan, USA, Oct 27-29, 2022. <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; o <em> Mentoring Workshop for Junior Women in Midwest Econometrics Group (MEG) 2022 Conference,</em> Mentor: <em>Xu Lin</em>, Associate Professor, Department of Economics, Virginia Tech. <br>
        &nbsp; &nbsp; · <em> Job Market Research Workshop,</em> University of Illinois Urbana-Champaign, Urbana, Illinois, USA, Sep 26, 2022. <a href="https://drive.google.com/file/d/1Yfa1-TP-XI95ONL7JIFhdkOK8peAWY5T/view?usp=sharing" style="color: pink"> Presentation slides </a><br>
    </div>
    <br>
    <div class="mat-body presentation-info"> <b>The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region</b> <br>
        &nbsp; &nbsp; · <em> 39th Annual MEEA Meeting in conjunction with the Allied Social Sciences Association (ASSA)</em>, Atlanta, Georgia, USA, Jan 3-7, 2019. 
    </div>
    <br>
    <div class="mat-body presentation-info">
        <b>Investment in Social Capital by Korean Baby-Boomers and the Elderly </b><br>
        &nbsp; &nbsp; · <em> Aging & Society: Seventh Interdisciplinary Conference</em>, University of California at Berkeley, Berkeley, California, USA, Nov 3-4, 2017. <br>
        &nbsp; &nbsp; · <em> Korea and the World Economy(15th): New Economic Paradigm and Sustainable Development</em>, Korea Federation of Banks, Seoul, Korea, Aug 5-6, 2016. <br>
        &nbsp; &nbsp; · <em> The 13th East Asian Social Policy Network International Annual Conference</em>, Ewha Womans University, Seoul, Korea, Jul 1-2, 2016. <br><br>
    </div>
    <br>
    <br>
<section class="Referee Experience">
    <app-section-header title="Referee Experience"></app-section-header>
    <div class="mat-body referee-info">
        Spatial Economic Analysis
    </div>
</section>
<br>
<br>
<br>
<br>
<section class="Honors,_Scholarships,_Grants,_and_Awards-container">
        <app-section-header title="Honors, Scholarships, Grants, and Awards"></app-section-header>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2017 (Fall) & 2018 (Fall) & 2022 (Fall) <b>Scholarship for Conference</b>, Department of Economics in University of Illinois Urbana-Champaign, USA. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2016 (Fall) & 2017 (Spring) <b>Fellowship for Ph.D Students</b>, Department of Economics in University of Illinois Urbana-Champaign, USA. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 <b>Graduate Research Scholarship for Humanities and Social Sciences</b>, Korea Student Aid Foundation, South Korea. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2014 <b>Award in Paper Competition for the Market Economy</b>, <em>How to Lower the Barrier to Entry for Women in Korean Labor Market by Game Theory</em>, 
            bestowed by KB Financial Group Inc. Chairman and organized by Market Economic Research Institute, South Korea. </div>
        <div class="mat-body Honors, Scholarships, Grants, and Awards-info"> 2012 <b>Award in Economic Universiade</b>, <em>A Far-Sighted Policies to Develop Human Resources for the Economic Growth in Korea</em>, 
            bestowed and organized by Edaily, Korea Association of Economic Education, SK communications and sponsored by Ministry of Strategy and Finance, 
            Ministry of Knowledge Economy, Ministry of Education, Science and Technology, Ministry of Employment and Labor, Ministry of Environment, South Korea. </div>
</section>