<section class="publication-container">
    <app-section-header title="Publications"></app-section-header>
    <div class="mat-body publication-info"> <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2022). Workers’ Social Capital and Employment Outcomes: The Case of MENA Countries. <em>Research Handbook on Poverty and Inequality, Part II: Measurement and Analysis of Poverty and Inequality, Chapter 16</em>. Edward Elgar Publishing. </div>
    <div class="mat-body publication-info"> <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2022). Social Capital and Workers’ Job Prospects in the MENA Region. <em>Sociologický časopis/Czech Sociological Review</em>, 58(3). </div>
    <div class="mat-body publication-info"> Hlasny, Vladimir., <b>Lee, Jieun.</b> (2020). Investment in social capital by the Korean elderly and baby-boomers. <em>The Journal of the Economics of Ageing</em>, 17, 100256. </div>
    <div class="mat-body publication-info"> <b>Lee, Jieun.</b>, Hlasny, Vladimir. (2019). The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region. <em>Topics in Middle Eastern And North African Economies</em>, 21(1). </div>
</section>
<br>
<section class="conference-presentation-container">
    <app-section-header title="Conferences"></app-section-header>
    <div class="mat-body presentation-info">The Effect of Social Capital on Individuals’ Economic Outcomes in the MENA Region
        <ul class="presentation-info-details">
            <li><em>39th Annual MEEA Meeting in conjunction with the Allied Social Sciences Association (ASSA)</em>, Atlanta, Georgia, USA, January 3-7, 2019            </li>
        </ul>
    </div>
    <div class="mat-body presentation-info">
        Investment in Social Capital by Korean Baby-Boomers and the Elderly
        <ul class="persentation-info-details">
            <li>
                <em>Aging & Society: Seventh Interdisciplinary Conference</em>, University of California at Berkeley, Berkeley, California, USA, November 3-4, 2017
            </li>
            <li>
                <em>Korea and the World Economy(15th): New Economic Paradigm and Sustainable Development</em>, Korea Federation of Banks, Seoul, Korea, August 5-6, 2016
            </li>
            <li>
                <em>The 13th East Asian Social Policy Network International Annual Conference</em>, Ewha Womans University, Seoul, Korea, July 1-2, 2016
            </li>
        </ul>
    </div>
</section>