<img src="../../assets/images/jieunlee.jpg" width="250" height="220">

<br>
<br>
<section class="Personal0Information-container">
    <app-section-header title="Affiliation & Personal Information"></app-section-header>
    <div class="mat-body Personal Information-info"> Ph.D candidate in Department of Economics, University of Illinois Urbana-Champaign, USA </div>
    <div class="mat-body Personal Information-info"> E-mail: <a href = "mailto: jieun2@illinois.edu"> jieun2@illinois.edu </a> </div>
    <div class="mat-body Personal Information-info"> Citizenship: South Korea  </div>
    <div class="mat-body Personal Information-info"> Language: Korean (native), English (fluent), Japanese (fluent) </div>
</section>
<br>
<section class="Research-Interest-container">
    <app-section-header title="Research Interest"></app-section-header>
    <div class="mat-body Research Interest"> - Primary: Spatial econometrics, Applied econometrics </div>
    <div class="mat-body Research Interest"> - Secondary: Quantitative studies in Social capital, Applied Latent variables analysis</div>
</section>